*{padding: 0; margin: 0; border: 0; transition: background-color 0.5s, border-color 0.5s;}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:active{outline: none;}
a:active{outline: none;}
:focus{
  outline-color: var(--color-coral);
  outline-offset: 5px;
}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html{scroll-behavior: smooth;}
input,button,textarea{font-family: inherit; font-size: inherit; color: inherit; background: none;}

input::-ms-clear{display: none;}
button{cursor: pointer; background: none;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:hover, a:visited{text-decoration: none;}
ul, menu{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400;}

body{
  background: var(--color-white);
  color: var(--color-black);
  font-family: 'Montserrat', sans-serif;
}
strong{
  color: var(--color-coral);
  font-weight: 600;
}

/* Variables */
body{
  --color-white: #FFFFFF;
  --color-black: #383838;
  --color-gray: #D6D6D6;
  --color-txt-gray: #606060;
  --color-coral: #00E98F;
  --color-bg-gray: #F1F1F1;
  --color-modal-bg: rgba(0, 0, 0, 0.8);
  --color-header-white: #FFFFFF;
  --color-footer-black: #383838;
  --color-footer-white: #FFFFFF;
  --color-modal-white: #FFFFFF;
}
body.dark{
  --color-white: #1E1E1E;
  --color-black: #DDDDDD;
  --color-gray: #383838;
  --color-txt-gray: #AAAAAA;
  --color-bg-gray: #252525;
  --color-header-white: #151515;
  --color-footer-black: #151515;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 8px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--color-coral);
}
body::-webkit-scrollbar-thumb:active {
  opacity: 0.8;
}